<h2 class="resort-new-header">Add a New Ski Resort</h2>

<div class="newResortOpacForm"><div>

  <form class="new-form" method="POST" action="/new">
    <div class="new-form-group">
      <label class="" for="resortName">Resort Name</label>
      <input type="text" name="resortName" id="resortName" class="form-control">
    </div>
    <div class="new-form-group">
      <label for="country">Country</label>
      <input type="text" name="country" id="country" class="form-control">
    </div>
    <div class="new-form-group">
        <label for="exampleTextarea">Description</label>
        <textarea class="form-control" id="description" rows="5"></textarea>
      </div>

    <button class="new-btn">Submit</button>
  </form>
