
<div id="video-overlay">
<video id="bgvid" loop muted autoplay>
<source src="http://tjshaw.co.uk/video/Ski-homepage.mp4" type="video/mp4">
</video>
</div>

<div class="front-container">
<span class="front-para">The best Ski resorts in Europe!</span>
</div>
