<%# <body background="/images/bg-image2.jpg">%>

<div id="video-overlay">
<video id="bgvid" loop muted autoplay>
<%# <source src="http://tjshaw.co.uk/video/ski-login.mp4" type="video/mp4">%>
</video>
</div>

<h2 class="login-header">Login</h2>


<% if (locals.message) { %>
  <p><%= message %></p>
<% } %>

<div class="loginOpacForm"><div>

<form class="login-form" method="POST" action="/login">
  <div class="login-form-group">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" class="login-email-form-control">
  </div>
  <div class="login-form-group">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control">
  </div>
      <button class="login-btn">Login</button>

</form>
</body>
