@font-face {
      font-family: Ormont_Light;
      src: local(Ormont_Light), url('www.tjshaw.co.uk/font/Ormont_Light.ttf') format('opentype');
}

 h2, p, ul {
  font-family: 'Ormont_Light', Fallback, sans-serif;
}

.line {
background-color: black;
margin-left: -10px;
margin-right: -10px;
padding: 4px;
}

h1 {
  font-family: Ormont_Light,Fallback,sans-serif;
  background-color: #000;
  color: #fff;
  font-size: 50px;
  margin-right: 1115px;
  margin-left: -21px;
  margin-top: -5px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 17px;
}

.header {
  color: white;
  text-decoration: none;
}
a.header {
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

ul.navbar-nav.mr-auto {
  display: inline;

}

footer {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:40px;
  background-color: black;
  color: white;
  padding-bottom: 10px;
  font-family: Ormont_Light;
  font-size: 15px;
}

span {
  float: right;
}



// li.nav-item {
//   background-color: ;
//   color: white;
// }




// #video-overlay {
//   position: fixed;
//   top: 0%;
//   left: 0%;
//   min-width: 100%;
//   min-height: 100%;
//   width: auto;
//   height: auto;
//   z-index: -100;
//   background-color:#000;
// }
