@font-face {
  font-family: Ormont_Light;
  src: local(Ormont_Light), url('www.tjshaw.co.uk/font/Ormont_Light.ttf') format('opentype');
}

body {
  background-position: center top;
  background-size: 100% auto;
}

h2, p, ul {
  font-family: 'Ormont_Light', Fallback, sans-serif;
}

h2 {
  font-size: 30px;
}

.line {
  background-color: black;
  margin-left: -10px;
  margin-right: -10px;
  padding: 4px;
}

h1 {
  font-family: Ormont_Light,Fallback,sans-serif;
  background-color: #000;
  color: #fff;
  font-size: 50px;
  margin-right: 1115px;
  margin-left: -21px;
  margin-top: -5px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 17px;
}

.header {
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
}

label {
  font-family: Ormont_Light,Fallback,sans-serif;
}

form {
  background-color: #000;
  margin: auto;
  width: 40%;
  padding: 50px;
  color: #fff;
  text-align: center;
}

.btn-primary {
  font-family: Ormont_Light,Fallback,sans-serif;
}

span.front-para {
  font-family: Ormont_Light,Fallback,sans-serif;
  background-color: black;
  color: white;
  padding: 4px;
  font-size: 50px;
  margin-top: 270px;
  margin-right: -15px;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

ul.navbar-nav.mr-auto {
  display: inline;
}

a.foot-link {
  text-decoration: none;
  color: white;
  padding-left: 10px;
}

footer {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:40px;
  background-color: black;
  color: white;
  padding-bottom: 10px;
  font-family: Ormont_Light;
  font-size: 15px;
}

span {
  float: right;
}

li.nav-login-homepage {
  border: 2px solid black;
  width: 7%;
  height: 30px;
  text-align: center;
  display: inline-block;
  background-color: black;
}

.nav-link-login {
  color: white;
}

.nav-register {
  border: 2px solid black;
  width: 7%;
  height: 30px;
  text-align: center;
  display: inline-block;
  background-color: black;
}

.nav-link-register {
  color: white;
}
